@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0095dd;
  color: #fff;

  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem auto;
  width: 450px;
  min-height: 60vh;
}

h1 {
  letter-spacing: 0.5px;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
  margin-bottom: 2rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  width: 100%;
}

li {
  border: 2px solid #fff;
  padding: 1rem;
  border-radius: 5px;
  opacity: 1;
  font-size: 1rem;
  list-style: none;
}

.guess-text {
  margin-bottom: 1.5rem;
}

.form-control {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 8px;
  border: 0;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-family: 'Lato', sans-serif;
  background: #fff;
  color: #0095dd;
  border-radius: 5px;
  transition: 0.5s all ease;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:focus {
  outline: 0;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid #dedede;
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
}

input[type='text']:focus {
  outline: 0;
}

/* Modal */

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  min-height: 100vh;
  width: 310px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-410px);
  transition: transform 0.9s ease-in-out;
}

.rules p {
  margin-bottom: 1rem;
}

.rules h2 {
  display: inline-block;
  border-bottom: 2px solid #fff;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}
.rules.show {
  transform: translateX(0);
}
